header {
    display: flex; // Asegura un diseño flexible si necesitas centrar otros elementos
    justify-content: center; // Centra el contenido horizontalmente
    align-items: center; // Centra el contenido verticalmente
    height: 300px; // Altura del header

    .header_logo {
        width: 50%;
        height: 200px;
        background-image: url('../img/full_azul.png'); // Ruta relativa al CSS compilado
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
    }
}
